.alert {
  padding: 10px 17px;
  font-size: 20px;
  border: 1px solid #3f3f3f;
  margin: 1rem 0;
  border-radius: 5px;
  color: #3f3f3f;
}

.alert-warning {
  background: #f8ffc4;
  border: 1px solid #ffee00;
}

.alert-danger {
  background: #ffc4c4;
  border: 1px solid #ff0000;
}

.alert-info {
  background: #d7eafe;
  border: 1px solid #0523b7;
}
